In [0]:
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark.sql.functions import sum as _sum

# Initialize the Spark session
spark = SparkSession.builder.appName('Project').getOrCreate()

# Creating a function for reading/extracting data
def extracting():
    df = spark.read.csv('/FileStore/tables/GlobalLandTemperaturesByCity.csv', inferSchema=True, header=True)
    return df

# Creating a function for transforming data
def transform(df):
    # Display the null counts for each column
    for c in df.columns:
        null_count = df.select(_sum(col(c).isNull().cast("int")).alias(c))
        null_count.show()

    # Group by 'Country' and calculate the average temperature
    df_avg_time = df.groupBy('Country').agg(avg('AverageTemperature').alias('AvgTemperature'))

    # Add a new column for temperature categories
    df_avg_time = df_avg_time.withColumn(
        'TemperatureCategory',
        when(col('AvgTemperature') > 20, 'Warm')
        .when(col('AvgTemperature') > 10, 'Mild')
        .otherwise('Cold')
    )
    df_avg_time.show()

    # Drop rows with null values in the original DataFrame
    df_cleaned = df.dropna()
    df_cleaned.show()

    return df_avg_time, df_cleaned

# Creating a function to extract/save the transformed data
def extracting_transformed_data(df_avg_time, df_cleaned):
    # Save the average temperature data with categories to a CSV file
    df_avg_time.write.csv('/FileStore/tables/TransformedData', header=True, mode='overwrite')

    # Save the cleaned DataFrame to another CSV file
    df_cleaned.write.csv('/FileStore/tables/CleanedData', header=True, mode='overwrite')

    print("Data saved successfully!")

# Call the functions
df = extracting()
df_avg_time, df_cleaned = transform(df)
extracting_transformed_data(df_avg_time, df_cleaned)

+---+
| dt|
+---+
|  0|
+---+

+------------------+
|AverageTemperature|
+------------------+
|            364130|
+------------------+

+-----------------------------+
|AverageTemperatureUncertainty|
+-----------------------------+
|                       364130|
+-----------------------------+

+----+
|City|
+----+
|   0|
+----+

+-------+
|Country|
+-------+
|      0|
+-------+

+--------+
|Latitude|
+--------+
|       0|
+--------+

+---------+
|Longitude|
+---------+
|        0|
+---------+

+-----------------+------------------+-------------------+
|          Country|    AvgTemperature|TemperatureCategory|
+-----------------+------------------+-------------------+
|           Russia|3.3472679828735536|               Cold|
|         Paraguay|22.784014312977117|               Warm|
|            Yemen| 25.76840766445382|               Warm|
|            Burma|26.016839989290098|               Warm|
|      Philippines| 26.51646246746498|               Warm|
|          Eritrea|24.001515877771144|               Warm|
|         Malaysia|26.434756624383954|               Warm|
|           Turkey|12.951888167466656|               Mild|
|           Malawi| 21.34787202649805|               Warm|
|             Iraq|19.884738137449162|               Mild|
|          Germany| 8.482790790263838|               Cold|
|      Afghanistan| 13.81649689626358|               Mild|
|           France| 10.33791826349408|               Mild|
|           Greece|16.347482714233184|               Mild|
|          Algeria|17.763205946291574|               Mild|
|Equatorial Guinea| 25.17832420749279|               Warm|
|        Argentina|16.999215885618394|               Mild|
|          Belgium| 9.726196958758232|               Cold|
|           Angola|21.759715773235634|               Warm|
|          Ecuador|20.539170537428014|               Warm|
+-----------------+------------------+-------------------+
only showing top 20 rows

+----------+-------------------+-----------------------------+-----+-------+--------+---------+
|        dt| AverageTemperature|AverageTemperatureUncertainty| City|Country|Latitude|Longitude|
+----------+-------------------+-----------------------------+-----+-------+--------+---------+
|1743-11-01|              6.068|           1.7369999999999999|Århus|Denmark|  57.05N|   10.33E|
|1744-04-01| 5.7879999999999985|           3.6239999999999997|Århus|Denmark|  57.05N|   10.33E|
|1744-05-01|             10.644|           1.2830000000000001|Århus|Denmark|  57.05N|   10.33E|
|1744-06-01| 14.050999999999998|                        1.347|Århus|Denmark|  57.05N|   10.33E|
|1744-07-01|             16.082|                        1.396|Århus|Denmark|  57.05N|   10.33E|
|1744-09-01| 12.780999999999999|                        1.454|Århus|Denmark|  57.05N|   10.33E|
|1744-10-01|               7.95|                         1.63|Århus|Denmark|  57.05N|   10.33E|
|1744-11-01|  4.638999999999999|           1.3019999999999998|Århus|Denmark|  57.05N|   10.33E|
|1744-12-01|0.12199999999999987|                        1.756|Århus|Denmark|  57.05N|   10.33E|
|1745-01-01|-1.3330000000000002|                        1.642|Århus|Denmark|  57.05N|   10.33E|
|1745-02-01|             -2.732|                        1.358|Århus|Denmark|  57.05N|   10.33E|
|1745-03-01|              0.129|                        1.088|Århus|Denmark|  57.05N|   10.33E|
|1745-04-01|              4.042|                        1.138|Århus|Denmark|  57.05N|   10.33E|
|1750-01-01|              1.699|                        1.013|Århus|Denmark|  57.05N|   10.33E|
|1750-02-01| 3.9610000000000003|           2.3609999999999998|Århus|Denmark|  57.05N|   10.33E|
|1750-03-01|              5.182|                         3.48|Århus|Denmark|  57.05N|   10.33E|
|1750-04-01|              7.197|                        0.732|Århus|Denmark|  57.05N|   10.33E|
|1750-05-01|             10.634|                        1.351|Århus|Denmark|  57.05N|   10.33E|
|1750-06-01|             14.913|                        1.181|Århus|Denmark|  57.05N|   10.33E|
|1750-07-01|             17.831|                         1.22|Århus|Denmark|  57.05N|   10.33E|
+----------+-------------------+-----------------------------+-----+-------+--------+---------+
only showing top 20 rows

Data saved successfully!