In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Pyspark Sql').getOrCreate()
print(spark)

<pyspark.sql.session.SparkSession object at 0x7af6c00ec4d0>

In [3]:
df = spark.read.csv('pyspar.csv', header = True)
df.show()

+---+-------+---+-----------+------+----------+--------+
| id|   name|age| department|salary| join_date|  status|
+---+-------+---+-----------+------+----------+--------+
|  1|  David| 39|    Finance| 41002|2017-05-18|Resigned|
|  2|    Eva| 38|    Finance| 43947|2022-01-28|On Leave|
|  3|Charlie| 23|         HR|109222|2018-02-09|On Leave|
|  4|    Eva| 23|    Finance|108610|2018-12-05|On Leave|
|  5|    Eva| 21|      Sales| 82142|2015-07-25|Resigned|
|  6|    Bob| 47|      Sales| 86307|2023-12-01|Resigned|
|  7|Charlie| 28|         HR| 34493|2016-05-10|  Active|
|  8|Charlie| 47|  Marketing| 80085|2023-07-16|Resigned|
|  9|Charlie| 48|Engineering| 64228|2020-03-24|Resigned|
| 10|    Eva| 41|  Marketing|109676|2021-12-26|Resigned|
| 11|  David| 26|    Finance| 81875|2017-11-11|On Leave|
| 12|Charlie| 20|Engineering| 61655|2015-08-01|Resigned|
| 13|  Frank| 48|         HR| 73472|2015-11-06|On Leave|
| 14|    Eva| 57|         HR| 79437|2022-06-01|  Active|
| 15|    Bob| 54|Engineering| 79416|2020-06-14|  Active|
| 16|  David| 53|      Sales| 89711|2022-09-01|On Leave|
| 17|  Frank| 41|Engineering| 36816|2015-09-29|On Leave|
| 18|  Frank| 48|    Finance|107175|2019-12-28|On Leave|
| 19|    Bob| 23|      Sales| 94307|2023-03-05|Resigned|
| 20|  David| 19|         HR| 76733|2023-12-18|  Active|
+---+-------+---+-----------+------+----------+--------+
only showing top 20 rows

In [9]:
df.createOrReplaceTempView('emp')
#Show all records in the table.
spark.sql('SELECT * FROM emp').show()

+---+-------+---+-----------+------+----------+--------+
| id|   name|age| department|salary| join_date|  status|
+---+-------+---+-----------+------+----------+--------+
|  1|  David| 39|    Finance| 41002|2017-05-18|Resigned|
|  2|    Eva| 38|    Finance| 43947|2022-01-28|On Leave|
|  3|Charlie| 23|         HR|109222|2018-02-09|On Leave|
|  4|    Eva| 23|    Finance|108610|2018-12-05|On Leave|
|  5|    Eva| 21|      Sales| 82142|2015-07-25|Resigned|
|  6|    Bob| 47|      Sales| 86307|2023-12-01|Resigned|
|  7|Charlie| 28|         HR| 34493|2016-05-10|  Active|
|  8|Charlie| 47|  Marketing| 80085|2023-07-16|Resigned|
|  9|Charlie| 48|Engineering| 64228|2020-03-24|Resigned|
| 10|    Eva| 41|  Marketing|109676|2021-12-26|Resigned|
| 11|  David| 26|    Finance| 81875|2017-11-11|On Leave|
| 12|Charlie| 20|Engineering| 61655|2015-08-01|Resigned|
| 13|  Frank| 48|         HR| 73472|2015-11-06|On Leave|
| 14|    Eva| 57|         HR| 79437|2022-06-01|  Active|
| 15|    Bob| 54|Engineering| 79416|2020-06-14|  Active|
| 16|  David| 53|      Sales| 89711|2022-09-01|On Leave|
| 17|  Frank| 41|Engineering| 36816|2015-09-29|On Leave|
| 18|  Frank| 48|    Finance|107175|2019-12-28|On Leave|
| 19|    Bob| 23|      Sales| 94307|2023-03-05|Resigned|
| 20|  David| 19|         HR| 76733|2023-12-18|  Active|
+---+-------+---+-----------+------+----------+--------+
only showing top 20 rows

In [11]:
#Select only name, age, and department.
spark.sql('SELECT name,age,department from emp').show()

+-------+---+-----------+
|   name|age| department|
+-------+---+-----------+
|  David| 39|    Finance|
|    Eva| 38|    Finance|
|Charlie| 23|         HR|
|    Eva| 23|    Finance|
|    Eva| 21|      Sales|
|    Bob| 47|      Sales|
|Charlie| 28|         HR|
|Charlie| 47|  Marketing|
|Charlie| 48|Engineering|
|    Eva| 41|  Marketing|
|  David| 26|    Finance|
|Charlie| 20|Engineering|
|  Frank| 48|         HR|
|    Eva| 57|         HR|
|    Bob| 54|Engineering|
|  David| 53|      Sales|
|  Frank| 41|Engineering|
|  Frank| 48|    Finance|
|    Bob| 23|      Sales|
|  David| 19|         HR|
+-------+---+-----------+
only showing top 20 rows

In [12]:
#Filter employees older than 30.
spark.sql('''SELECT age FROM emp
            WHERE age > 30''').show()

+---+
|age|
+---+
| 39|
| 38|
| 47|
| 47|
| 48|
| 41|
| 48|
| 57|
| 54|
| 53|
| 41|
| 48|
| 37|
| 45|
| 32|
| 47|
| 55|
| 32|
| 43|
| 43|
+---+
only showing top 20 rows

In [14]:
#Find all employees who joined after 2020.
spark.sql('''SELECT * FROM emp
            WHERE join_date > "2020-01-01"
            ''').show()

+---+-------+---+-----------+------+----------+--------+
| id|   name|age| department|salary| join_date|  status|
+---+-------+---+-----------+------+----------+--------+
|  2|    Eva| 38|    Finance| 43947|2022-01-28|On Leave|
|  6|    Bob| 47|      Sales| 86307|2023-12-01|Resigned|
|  8|Charlie| 47|  Marketing| 80085|2023-07-16|Resigned|
|  9|Charlie| 48|Engineering| 64228|2020-03-24|Resigned|
| 10|    Eva| 41|  Marketing|109676|2021-12-26|Resigned|
| 14|    Eva| 57|         HR| 79437|2022-06-01|  Active|
| 15|    Bob| 54|Engineering| 79416|2020-06-14|  Active|
| 16|  David| 53|      Sales| 89711|2022-09-01|On Leave|
| 19|    Bob| 23|      Sales| 94307|2023-03-05|Resigned|
| 20|  David| 19|         HR| 76733|2023-12-18|  Active|
| 21|    Eva| 37|Engineering| 41240|2020-09-10|On Leave|
| 23|  David| 28|  Marketing| 62762|2021-01-18|  Active|
| 24|    Bob| 21|    Finance| 38259|2022-09-15|Resigned|
| 29|  Alice| 19|Engineering| 84869|2022-08-05|Resigned|
| 30|Charlie| 32|    Finance| 93095|2021-12-27|On Leave|
| 31|Charlie| 28|      Sales|100910|2022-10-03|  Active|
| 33|  David| 43|    Finance| 53567|2021-10-19|Resigned|
| 37|  Frank| 21|         HR| 39885|2023-02-12|On Leave|
| 38|Charlie| 36|Engineering| 89659|2022-12-26|On Leave|
| 39|  David| 37|Engineering| 84306|2023-09-09|  Active|
+---+-------+---+-----------+------+----------+--------+
only showing top 20 rows

In [16]:
#Show all employees from the “Sales” department.
spark.sql('''SELECT * FROM emp
            Where department = 'Sales' 
            ''').show()

+---+-------+---+----------+------+----------+--------+
| id|   name|age|department|salary| join_date|  status|
+---+-------+---+----------+------+----------+--------+
|  5|    Eva| 21|     Sales| 82142|2015-07-25|Resigned|
|  6|    Bob| 47|     Sales| 86307|2023-12-01|Resigned|
| 16|  David| 53|     Sales| 89711|2022-09-01|On Leave|
| 19|    Bob| 23|     Sales| 94307|2023-03-05|Resigned|
| 31|Charlie| 28|     Sales|100910|2022-10-03|  Active|
| 35|  Frank| 23|     Sales|104813|2015-06-02|On Leave|
| 41|  Alice| 37|     Sales| 95087|2020-01-31|  Active|
| 43|    Eva| 18|     Sales| 88929|2019-10-19|On Leave|
| 46|  Alice| 55|     Sales| 80500|2021-12-11|  Active|
| 48|  David| 28|     Sales| 88643|2018-01-16|On Leave|
| 49|  Alice| 53|     Sales| 74900|2023-12-10|Resigned|
| 53|    Bob| 23|     Sales|102692|2023-12-14|On Leave|
| 58|  David| 19|     Sales| 39168|2015-06-16|  Active|
| 59|  David| 30|     Sales|116497|2016-05-23|Resigned|
| 60|  David| 57|     Sales| 79879|2019-07-20|  Active|
| 61|  David| 19|     Sales| 89871|2021-06-18|  Active|
| 63|Charlie| 18|     Sales| 62174|2016-11-11|  Active|
| 66|  David| 34|     Sales| 94046|2018-03-10|On Leave|
| 76|    Eva| 31|     Sales| 58803|2015-06-24|On Leave|
| 80|    Bob| 29|     Sales| 61259|2015-03-06|  Active|
+---+-------+---+----------+------+----------+--------+
only showing top 20 rows

In [25]:
#Find the average salary by department.
spark.sql('''SELECT avg(salary),department FROM emp
            GROUP BY department
            ''').show()

+-----------------+-----------+
|      avg(salary)| department|
+-----------------+-----------+
|74743.77720207254|      Sales|
|75890.08292682927|Engineering|
|75645.75555555556|         HR|
|72984.44554455446|    Finance|
|78192.17727272728|  Marketing|
+-----------------+-----------+

In [27]:
#Count employees in each department.
spark.sql('''SELECT count(*) n,department FROM emp
            GROUP BY department''').show()

+---+-----------+
|  n| department|
+---+-----------+
|193|      Sales|
|205|Engineering|
|180|         HR|
|202|    Finance|
|220|  Marketing|
+---+-----------+

In [28]:
#Get the highest salary in each department.
spark.sql('''SELECT MAX(SALARY) max,department FROM emp
            GROUP BY department''').show()

+-----+-----------+
|  max| department|
+-----+-----------+
|99569|Engineering|
|99561|    Finance|
|98803|         HR|
|98648|  Marketing|
|98487|      Sales|
+-----+-----------+

In [29]:
#Show how many employees are in each status (Active, Resigned, etc.).
spark.sql('''SELECT count(*) n,status FROM emp
            GROUP BY status''').show()

+---+--------+
|  n|  status|
+---+--------+
|330|Resigned|
|318|  Active|
|352|On Leave|
+---+--------+

In [31]:
#What is the total salary paid across the company?
spark.sql('''SELECT SUM(salary) FROM emp''').show()

+-----------+
|sum(salary)|
+-----------+
|7.5544389E7|
+-----------+

In [32]:
#Show top 5 highest-paid employees.
spark.sql('''SELECT salary, name FROM emp
            ORDER BY salary DESC
            LIMIT 5''').show()

+------+-------+
|salary|   name|
+------+-------+
| 99569|    Bob|
| 99561|    Eva|
| 99338|  David|
| 99119|Charlie|
| 98899|    Bob|
+------+-------+

In [37]:
#Show the latest 10 joiners.
spark.sql('''SELECT name,join_date FROM emp
            ORDER BY join_date DESC
            LIMIT 10''').show()

+-------+----------+
|   name| join_date|
+-------+----------+
|  Frank|2023-12-31|
|  Alice|2023-12-30|
|    Bob|2023-12-23|
|  David|2023-12-23|
|  Alice|2023-12-23|
|Charlie|2023-12-22|
|  Alice|2023-12-20|
|  David|2023-12-18|
|    Bob|2023-12-17|
|    Bob|2023-12-14|
+-------+----------+

In [40]:
#Find how many employees joined in each year.
spark.sql('''SELECT COUNT(*)m,Year(join_date) year FROM emp
            GROUP BY year''').show()

+---+----+
|  m|year|
+---+----+
|100|2018|
|115|2015|
|124|2023|
|120|2022|
| 95|2019|
|104|2020|
|117|2016|
|110|2017|
|115|2021|
+---+----+

In [42]:
#Find employees who joined in December (any year).
spark.sql('''SELECT name, MONTH(join_date) month from emp
            WHERE month(join_date)= 12 ''').show()

+-------+-----+
|   name|month|
+-------+-----+
|    Eva|   12|
|    Bob|   12|
|    Eva|   12|
|  Frank|   12|
|  David|   12|
|Charlie|   12|
|Charlie|   12|
|  Alice|   12|
|  Alice|   12|
|    Bob|   12|
|  Frank|   12|
|    Eva|   12|
|  David|   12|
|    Eva|   12|
|Charlie|   12|
|Charlie|   12|
|  David|   12|
|    Bob|   12|
|  Frank|   12|
|Charlie|   12|
+-------+-----+
only showing top 20 rows