In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Test2').getOrCreate()
print(spark)

<pyspark.sql.session.SparkSession object at 0x7fe496f97410>

In [8]:
df1 = spark.read.csv('sales_first_half.csv',header = True)
df2 = spark.read.csv('sales_second_half.csv',header = True) 
df1.show(n=5)
df2.show(n=5)

+-------+----------+----------+-------------+--------------+------------------+
|sale_id|      date|product_id|quantity_sold|price_per_unit|        total_sale|
+-------+----------+----------+-------------+--------------+------------------+
|      1|2024-04-12|      1036|            7|         21.54|            150.78|
|      2|2024-06-28|      1048|            3|         33.87|101.60999999999999|
|      3|2024-04-02|      1065|            4|         85.17|            340.68|
|      4|2024-01-15|      1035|            3|         39.44|            118.32|
|      5|2024-04-16|      1053|            1|         53.93|             53.93|
+-------+----------+----------+-------------+--------------+------------------+
only showing top 5 rows

+-------+----------+----------+-------------+--------------+-----------------+
|sale_id|      date|product_id|quantity_sold|price_per_unit|       total_sale|
+-------+----------+----------+-------------+--------------+-----------------+
|      1|2024-11-09|      1098|            4|         96.03|           384.12|
|      2|2024-07-02|      1009|            7|         16.38|           114.66|
|      3|2024-10-23|      1060|            9|         64.91|584.1899999999999|
|      4|2024-07-01|      1007|            2|          19.2|             38.4|
|      5|2024-09-13|      1047|            2|         35.57|            71.14|
+-------+----------+----------+-------------+--------------+-----------------+
only showing top 5 rows

In [10]:
df_join = df1.join(df2, on = 'product_id' , how = 'inner')
df_join.show()

+----------+-------+----------+-------------+--------------+----------+-------+----------+-------------+--------------+------------------+
|product_id|sale_id|      date|quantity_sold|price_per_unit|total_sale|sale_id|      date|quantity_sold|price_per_unit|        total_sale|
+----------+-------+----------+-------------+--------------+----------+-------+----------+-------------+--------------+------------------+
|      1036|      1|2024-04-12|            7|         21.54|    150.78|   4900|2024-09-01|            9|         37.66|338.93999999999994|
|      1036|      1|2024-04-12|            7|         21.54|    150.78|   4897|2024-09-10|            8|         14.87|            118.96|
|      1036|      1|2024-04-12|            7|         21.54|    150.78|   4831|2024-08-31|            4|         99.83|            399.32|
|      1036|      1|2024-04-12|            7|         21.54|    150.78|   4788|2024-09-15|            7|         79.39|            555.73|
|      1036|      1|2024-04-12|            7|         21.54|    150.78|   4709|2024-09-01|            2|         30.68|             61.36|
|      1036|      1|2024-04-12|            7|         21.54|    150.78|   4608|2024-07-13|            5|         58.42|             292.1|
|      1036|      1|2024-04-12|            7|         21.54|    150.78|   4585|2024-12-16|            3|         19.05|57.150000000000006|
|      1036|      1|2024-04-12|            7|         21.54|    150.78|   4527|2024-09-10|            7|          88.7|             620.9|
|      1036|      1|2024-04-12|            7|         21.54|    150.78|   4512|2024-09-15|            3|         75.41|            226.23|
|      1036|      1|2024-04-12|            7|         21.54|    150.78|   4423|2024-10-29|            7|          54.4|             380.8|
|      1036|      1|2024-04-12|            7|         21.54|    150.78|   4386|2024-09-14|            9|         72.11|            648.99|
|      1036|      1|2024-04-12|            7|         21.54|    150.78|   4268|2024-12-21|            3|         23.34|             70.02|
|      1036|      1|2024-04-12|            7|         21.54|    150.78|   4241|2024-12-28|            6|         81.96|            491.76|
|      1036|      1|2024-04-12|            7|         21.54|    150.78|   4159|2024-08-13|            2|         53.57|            107.14|
|      1036|      1|2024-04-12|            7|         21.54|    150.78|   4135|2024-09-17|            5|          67.3|             336.5|
|      1036|      1|2024-04-12|            7|         21.54|    150.78|   3967|2024-09-01|            2|         26.61|             53.22|
|      1036|      1|2024-04-12|            7|         21.54|    150.78|   3950|2024-09-08|            8|         95.72|            765.76|
|      1036|      1|2024-04-12|            7|         21.54|    150.78|   3935|2024-08-23|            5|         85.71|428.54999999999995|
|      1036|      1|2024-04-12|            7|         21.54|    150.78|   3880|2024-09-16|            7|         29.07|            203.49|
|      1036|      1|2024-04-12|            7|         21.54|    150.78|   3639|2024-11-07|            7|         36.91|            258.37|
+----------+-------+----------+-------------+--------------+----------+-------+----------+-------------+--------------+------------------+
only showing top 20 rows

In [34]:
df_union = df1.union(df2)
df_union.show()
df_filtered = df_union.filter((df_union['date'] > '2024-06-30') & (df_union['date'] < '2024-12-30'))
df_filtered.show()

from pyspark.sql.functions import pandas_udf
from pyspark.sql.types import IntegerType
@pandas_udf(IntegerType())
def add_quantity(column):
    return column + 1
df_new = df_filtered.withColumn('new_quantity', add_quantity(df_filtered['quantity_sold'].cast('int')))
df_new.show()

+-------+----------+----------+-------------+--------------+------------------+
|sale_id|      date|product_id|quantity_sold|price_per_unit|        total_sale|
+-------+----------+----------+-------------+--------------+------------------+
|      1|2024-04-12|      1036|            7|         21.54|            150.78|
|      2|2024-06-28|      1048|            3|         33.87|101.60999999999999|
|      3|2024-04-02|      1065|            4|         85.17|            340.68|
|      4|2024-01-15|      1035|            3|         39.44|            118.32|
|      5|2024-04-16|      1053|            1|         53.93|             53.93|
|      6|2024-03-12|      1025|            8|          94.7|             757.6|
|      7|2024-01-21|      1074|            2|         30.44|             60.88|
|      8|2024-04-12|      1071|            1|         45.07|             45.07|
|      9|2024-05-01|      1039|            8|         64.58|            516.64|
|     10|2024-03-15|      1042|            7|         77.98|            545.86|
|     11|2024-03-28|      1021|            7|         91.15| 638.0500000000001|
|     12|2024-04-26|      1019|            4|         92.39|            369.56|
|     13|2024-04-09|      1007|            9|          79.9|             719.1|
|     14|2024-04-13|      1028|            6|         30.55|             183.3|
|     15|2024-05-31|      1039|            2|         12.23|             24.46|
|     16|2024-05-10|      1089|            1|         44.54|             44.54|
|     17|2024-05-29|      1029|            1|         22.74|             22.74|
|     18|2024-02-22|      1080|            9|         73.93| 665.3700000000001|
|     19|2024-01-02|      1083|            4|          69.5|             278.0|
|     20|2024-03-28|      1054|            5|         13.96| 69.80000000000001|
+-------+----------+----------+-------------+--------------+------------------+
only showing top 20 rows

+-------+----------+----------+-------------+--------------+------------------+
|sale_id|      date|product_id|quantity_sold|price_per_unit|        total_sale|
+-------+----------+----------+-------------+--------------+------------------+
|      1|2024-11-09|      1098|            4|         96.03|            384.12|
|      2|2024-07-02|      1009|            7|         16.38|            114.66|
|      3|2024-10-23|      1060|            9|         64.91| 584.1899999999999|
|      4|2024-07-01|      1007|            2|          19.2|              38.4|
|      5|2024-09-13|      1047|            2|         35.57|             71.14|
|      6|2024-09-03|      1075|            6|         26.72|            160.32|
|      7|2024-12-21|      1092|            3|         59.83|            179.49|
|      8|2024-11-02|      1028|            4|         89.84|            359.36|
|      9|2024-11-12|      1086|            3|         67.21|            201.63|
|     10|2024-09-04|      1025|            1|         69.78|             69.78|
|     11|2024-11-20|      1036|            6|          91.8|             550.8|
|     12|2024-09-10|      1095|            2|         77.45|             154.9|
|     13|2024-10-24|      1051|            2|         87.94|            175.88|
|     14|2024-10-29|      1037|            7|         47.48|332.35999999999996|
|     15|2024-08-16|      1005|            5|         87.88|             439.4|
|     16|2024-09-28|      1007|            8|         68.13|            545.04|
|     17|2024-08-09|      1016|            2|          22.2|              44.4|
|     18|2024-08-11|      1075|            8|         13.48|            107.84|
|     19|2024-12-26|      1061|            7|         31.96|            223.72|
|     20|2024-08-04|      1085|            8|         44.05|             352.4|
+-------+----------+----------+-------------+--------------+------------------+
only showing top 20 rows

+-------+----------+----------+-------------+--------------+------------------+------------+
|sale_id|      date|product_id|quantity_sold|price_per_unit|        total_sale|new_quantity|
+-------+----------+----------+-------------+--------------+------------------+------------+
|      1|2024-11-09|      1098|            4|         96.03|            384.12|           5|
|      2|2024-07-02|      1009|            7|         16.38|            114.66|           8|
|      3|2024-10-23|      1060|            9|         64.91| 584.1899999999999|          10|
|      4|2024-07-01|      1007|            2|          19.2|              38.4|           3|
|      5|2024-09-13|      1047|            2|         35.57|             71.14|           3|
|      6|2024-09-03|      1075|            6|         26.72|            160.32|           7|
|      7|2024-12-21|      1092|            3|         59.83|            179.49|           4|
|      8|2024-11-02|      1028|            4|         89.84|            359.36|           5|
|      9|2024-11-12|      1086|            3|         67.21|            201.63|           4|
|     10|2024-09-04|      1025|            1|         69.78|             69.78|           2|
|     11|2024-11-20|      1036|            6|          91.8|             550.8|           7|
|     12|2024-09-10|      1095|            2|         77.45|             154.9|           3|
|     13|2024-10-24|      1051|            2|         87.94|            175.88|           3|
|     14|2024-10-29|      1037|            7|         47.48|332.35999999999996|           8|
|     15|2024-08-16|      1005|            5|         87.88|             439.4|           6|
|     16|2024-09-28|      1007|            8|         68.13|            545.04|           9|
|     17|2024-08-09|      1016|            2|          22.2|              44.4|           3|
|     18|2024-08-11|      1075|            8|         13.48|            107.84|           9|
|     19|2024-12-26|      1061|            7|         31.96|            223.72|           8|
|     20|2024-08-04|      1085|            8|         44.05|             352.4|           9|
+-------+----------+----------+-------------+--------------+------------------+------------+
only showing top 20 rows